@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: "JetBrains Mono";
	font-style: normal;
	font-weight: 100 800;
	font-display: swap;
	src: url("/fonts/JetBrainsMono-Variable.woff2") format("woff2-variations");
}

@font-face {
	font-family: "Styrene B";
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url("/fonts/StyreneB-Regular.woff2") format("woff2");
}

@font-face {
	font-family: "Styrene B";
	font-style: normal;
	font-weight: 600 700;
	font-display: swap;
	src: url("/fonts/StyreneB-Bold.woff2") format("woff2");
}

@font-face {
	font-family: "Tiempos Text";
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: url("/fonts/TiemposText-Bold.woff2") format("woff2");
}

@layer components {
	.nav-link,
	.cactus-link {
		@apply relative font-semibold transition-colors duration-200;
	}
	.nav-link:hover,
	.cactus-link:hover {
		@apply text-accent;
	}
	.nav-link::after,
	.cactus-link::after {
		@apply absolute bottom-0 left-0 h-0.5 w-0 rounded-full bg-accent transition-all duration-200;
		content: "";
	}
	.nav-link:hover::after,
	.cactus-link:hover::after {
		@apply w-full;
	}
	.nav-item:not(:first-child)::before {
		@apply absolute left-0 top-1/2 h-3 w-0.5 -translate-y-1/2 border-l-2 border-dotted border-accent;
		content: "";
	}
}

@layer base {
	:root {
		color-scheme: light;
		/* https://tailwindcss.com/docs/customizing-colors#using-css-variables */
		--theme-bg: 0deg 0% 98%;
		--theme-link: 351deg 53% 53%;
		--theme-text: 203deg 11% 15%;
		--theme-accent: 351deg 66% 48%;
		--theme-accent-2: 0deg 0% 7%;
		--theme-quote: 351deg 66% 48%;
	}

	:root.dark {
		color-scheme: dark;
		--theme-bg: 210deg 6% 12%;
		--theme-link: 159deg 49% 67%;
		--theme-text: 220deg 3% 79%;
		--theme-accent: 159deg 64% 45%;
		--theme-accent-2: 0deg 0% 93%;
		--theme-quote: 102deg 100% 86%;
	}

	html {
		@apply scroll-smooth;
	}

	html body {
		@apply mx-auto flex min-h-screen max-w-3xl flex-col bg-bgColor px-8 pt-16 font-sans text-sm font-normal text-textColor antialiased;
	}

	.dark .prose :where(code):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
		background-color: hsl(var(--theme-accent) / 0.2);
	}
}
