---
import type { GetStaticPaths, InferGetStaticPropsType } from "astro";
import { getCollection } from "astro:content";
import PageLayout from "@/layouts/Base";

export const getStaticPaths = (async () => {
	const appEntries = await getCollection("apps");
	return appEntries.map((entry) => ({
		params: { slug: entry.slug },
		props: { entry },
	}));
}) satisfies GetStaticPaths;

type Props = InferGetStaticPropsType<typeof getStaticPaths>;

const { entry } = Astro.props;
const { Content } = await entry.render();
const { title, description, app } = entry.data;
---

<PageLayout meta={{ title, description }}>
	<div class="mx-auto w-full max-w-3xl px-4 py-8">
		<p class="mb-2 text-sm text-gray-500">{app}</p>
		<h1 class="mb-8 text-3xl font-bold">{title}</h1>
		<article class="prose prose-sm prose-cactus">
			<Content />
		</article>
	</div>
</PageLayout>
