---
const url = new URL(Astro.request.url);
---

<header
	id="main-header"
	class="relative z-50 mb-5 flex items-start sm:mb-6"
	transition:animate="none"
>
	<a
		href="/"
		class="group/logo inline-flex items-center gap-2 hover:opacity-80"
		aria-current={url.pathname === "/" ? "page" : false}
	>
		<svg
			class="h-6 w-6 transition-transform duration-700 group-hover/logo:rotate-[60deg]"
			aria-hidden="true"
			focusable="false"
			xmlns="http://www.w3.org/2000/svg"
			viewBox="0 0 100 100"
		>
			<title>Logo</title>
			<path
				d="M57 9
					   L82 24
					   Q89 28 89 36
					   L89 64
					   Q89 72 82 76
					   L57 91
					   Q50 95 43 91
					   L18 76
					   Q11 72 11 64
					   L11 36
					   Q11 28 18 24
					   L43 9
					   Q50 5 57 9
					   Z"
				class="fill-accent"></path>
		</svg>
		<span class="font-serif text-xl font-bold sm:text-2xl">Alejandro Rico</span>
	</a>
</header>
