---
import SocialList from "@/components/SocialList";
import PostPreview from "@/components/blog/PostPreview";
import PageLayout from "@/layouts/Base";
import { getAllPosts, sortMDByDate } from "@/utils";

const MAX_POSTS = 10;
const allPosts = await getAllPosts();
const allPostsByDate = sortMDByDate(allPosts).slice(0, MAX_POSTS);

const projects: Array<{ title: string; desc: string; href: string }> = [
	{
		title: "Match Tile: Mini",
		desc: "A puzzle iOS game made with SwiftUI.",
		href: "https://apps.apple.com/es/app/match-tile-mini-puzzle-game/id6473903061?l=en-GB",
	},
	{
		title: "Cookie Empire",
		desc: "An idle clicker iOS game made with SwiftUI.",
		href: "/apps/cookie-empire",
	},
	{
		title: "Pizza Clicker",
		desc: "An idle iOS game made with react-native.",
		href: "https://apps.apple.com/au/app/idle-pizza-clicker/id1638610470",
	},
	{
		title: "Coffee Galley",
		desc: "Web App available in the Shopify App Store. Made with Shiny.",
		href: "https://apps.shopify.com/coffee-merchantr",
	},
	{
		title: "harrypotter",
		desc: "R library. Colour palettes inspired by Harry Potter.",
		href: "https://github.com/aljrico/harrypotter",
	},
	{
		title: "gameofthrones",
		desc: "R library. Colour palettes inspired by Game of Thrones.",
		href: "https://github.com/aljrico/gameofthrones",
	},
];
---

<PageLayout meta={{ title: "Home" }}>
	<script is:inline type="application/ld+json" set:html={JSON.stringify({
		"@context": "https://schema.org",
		"@type": "Person",
		name: "Alejandro Rico",
		url: "https://aljrico.com",
		jobTitle: "Data Lead",
		description: "Data lead at a gaming studio. Game developer. Based near Barcelona.",
		sameAs: [
			"https://github.com/aljrico",
		],
	})} />
	<section>
		<p class="mb-4">
			Data lead at a gaming studio. I also like studying companies and the stock market. When I'm not doing either, I make my own games. Based near Barcelona.
		</p>
	</section>
	<section class="mt-16">
		<h2 class="title mb-4 text-xl">Projects</h2>
		<ul class="space-y-4 sm:space-y-2">
			{
				projects.map(({ href, title, desc }) => (
					<li class="flex flex-col gap-x-2 sm:flex-row">
						<a
							href={href}
							target={href.startsWith("/") ? undefined : "_blank"}
							rel={href.startsWith("/") ? undefined : "noopener noreferrer"}
							class="min-w-[150px]"
						>
							<span class="cactus-link">{title}</span>
						</a>
						<p class="text-gray-500">{desc}</p>
					</li>
				))
			}
		</ul>
	</section>
	<section aria-label="Blog post list" class="mt-16">
		<h2 class="title mb-4 text-xl">Posts</h2>
		<ul class="space-y-4 sm:space-y-2">
			{
				allPostsByDate.map((p) => (
					<li class="flex flex-col gap-x-2 sm:flex-row">
						<PostPreview post={p} />
					</li>
				))
			}
		</ul>
	</section>
	<section class="mt-16">
		<SocialList />
	</section>
</PageLayout>
