---
import { Icon } from "astro-icon";
---

<script>
	import { rootHasDarkClass } from "@/utils";

	class ThemeToggle extends HTMLElement {
		constructor() {
			super();
			const button = this.querySelector("button") as HTMLButtonElement;
			const root = document.documentElement;

			if (button) {
				// set inital aria-pressed value
				button.setAttribute("aria-pressed", String(rootHasDarkClass()));

				// MutationObserver for html class changes, as the theme could be changed elsewhere
				const observer = new MutationObserver((mutationsList) => {
					for (const mutation of mutationsList) {
						if (mutation.type === "attributes" && mutation.attributeName === "class") {
							const rootIsDark = (mutation.target as Element).classList.contains("dark");
							button.setAttribute("aria-pressed", String(rootIsDark));
						}
					}
				});
				observer.observe(root, { attributeFilter: ["class"] });

				// button clicked, fire event
				button.addEventListener("click", (e) => {
					if (e.currentTarget instanceof HTMLButtonElement) {
						let isDark = rootHasDarkClass();

						// invert theme
						let themeChangeEvent = new CustomEvent("theme-change", {
							detail: {
								theme: isDark ? "light" : "dark",
							},
						});
						// dispatch event -> ThemeProvider.astro
						document.dispatchEvent(themeChangeEvent);
					}
				});
			}
		}
	}

	customElements.define("theme-toggle", ThemeToggle);
</script>

<theme-toggle class="ms-2 sm:ms-4">
	<button
		type="button"
		id="toggle-theme"
		class="relative h-9 w-9 rounded-md p-2 ring-zinc-400 transition-all hover:ring-2"
		aria-label="Toggle Dark Mode"
	>
		<Icon
			name="lucide:sun"
			class="absolute start-1/2 top-1/2 h-6 w-6 -translate-x-1/2 -translate-y-1/2 scale-100 opacity-100 transition-all dark:scale-0 dark:opacity-0"
			aria-hidden="true"
		/>
		<Icon
			name="lucide:moon"
			class="absolute start-1/2 top-1/2 h-6 w-6 -translate-x-1/2 -translate-y-1/2 scale-0 opacity-0 transition-all dark:scale-100 dark:opacity-100"
			aria-hidden="true"
		/>
	</button>
</theme-toggle>
